* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: $font-family, 'sans-serif';

  &:focus {
    outline: none;
  }
}

html,
body {
  height: 100%;
  background: $body;
  color: $light;
  font-family: $font-family, 'sans-serif';
  scroll-behavior: smooth;
}

ul {
  padding-left: 0;
  margin-bottom: 0;
}

p {
  margin-bottom: 0;
}
