.g-container {
  display: block;
  width: 100%;
  max-width: 1568px;
  margin: 0 auto;
  padding: 0 10px;

  @include breakpoint-max($desktop-width) {
    padding: 0 rem(20);
  }

  & & {
    padding-left: 0;
    padding-right: 0;
  }

  &--no-gap {
    padding: 0;
  }

  &--fluid {
    max-width: 100%;
  }

  &--hd {
    max-width: 1920px;
    padding: 0 rem(40);

    @include breakpoint-max($desktop-width) {
      padding: 0 rem(40);
    }
  }

  &--def {
    max-width: 1260px;
  }

  &--md {
    max-width: 940px;
  }
}
